.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    width: 100px;  
    height: 100px;
    margin-top: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #8f94fb; /* adds a colored border */
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 50px;
    font-weight: 400;
}
.hero h1 span{
    background: linear-gradient(90deg, #a8ff78 0%, #8f94fb 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    text-align: center;
    width: 50%;
    font-size: 14px;
    color: #ccc;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 40px;
    border-radius: 50px;
    background: linear-gradient(90deg, #a8ff78 0%, #8f94fb 100%);
    cursor: pointer;
}
.hero-resume{
    padding: 25px 40px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    border-color: #8f94fb;
}
@media (max-width: 1080px) {
    .hero h1 {
        font-size: 50px;
        width: 90%;
        margin-top: 50px;
    }
    .hero p {
        width: 90%;
        font-size: 18px;
        line-height: 30px;
    }
    .hero img {
        width: 200px;  
        height: 200px;
        margin-top: 100px;
    }
    .hero-action{
        flex-direction: column;
        gap: 20px;
        font-size: 20px;
    }
}