.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 60px 150px;
}

.about-title {
    position: relative;
    text-align: center;
}

.about-title h1 {
    padding: 0 20px;
    font-size: 40px;
    font-weight: 500;
    background: linear-gradient(90deg, #a8ff78 0%, #8f94fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.about-section {
    display: flex;
    gap: 60px;
}


.about-right {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about-p {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #a0a0a0;
    line-height: 1.6;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill {
    display: flex;
    gap: 40px;
    align-items: center;
    transition: 0.3s;
}
.about-skill h2{
    min-width: 215px;
    font-size: 14px;
    font-weight: 300;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    background: linear-gradient(269deg, #a8ff78 0%, #8f94fb 102.06%);
    border-radius: 50px;
}
.about-archivements{
   display: flex;
   width: 100%;
   justify-content: space-around;
   margin-bottom: 80px; 
}
.about-archivement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-archivement h1{
    font-size: 40px;
    font-weight: 500;
    background: linear-gradient(269deg, #a8ff78 0%, #8f94fb 102.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.about-archivement p{
    font-size: 10px;
    font-weight: 300;
    color: #a0a0a0;
}
.about-skill:hover, .about-archivement:hover{
    transform: scale(0.95);
}
@media (max-width: 1080px) {
    .about {
        margin: 50px 20px;
        gap: 50px;
        align-items: start;
    }
    .about-title h1 {
        font-size: 70px;
        padding: 0 10px;
    }
    .about-title img{
        width: 150px;
        height: 150px;
        margin-top: 20px;
        right: -20px;
        border-radius: 5%;
    }
    .about-section {
        flex-direction: column;
        gap: 50px;
    }
    .about-right {
        gap: 50px;
    }
    .about-p {
        font-size: 18px;
        gap: 15px;
        line-height: 32px;
    }
    .about-skill {
        gap: 18px;
        align-items: center;
    }
    .about-skill h2{
        font-size: 16px;
        min-width: 150px;
    }
    .about-skill p{
        font-size: 20px;
    }
    .about-skill hr{
        height: 6px;
        width: 40%;
    }
    .about-archivements{
       justify-content: space-between;
       text-align: center;
       gap: 10px;
       
    }
    .about-archivement{
        gap: 10px;
    }
    .about-archivement h1{
        font-size: 40px;
        font-weight: 700;
    }
    .about-archivement p{
        text-align: center;
        font-size: 16px;
    }
}