.Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 80px 150px;
}
.Contact-title{
    text-align: center;
    position: relative;
    
}
.Contact-title h1{
    padding: 0 30px;
    font-size: 80px;
    font-weight: 500;
    background: linear-gradient(90deg, #a8ff78 0%, #8f94fb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    margin-bottom: 0;
}
.Contact-section{
    display: flex;
    gap: 130px;
}
.Contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Contact-left h1{
    font-size: 80px;
    font-weight: 500;
    background: #8f94fb;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Contact-left p{
    font-size: 20px;
    font-weight: 500;
    color: #a0a0a0;
    line-height: 1.6;
    margin-top: 10px;
}
.Contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #a0a0a0;
    font-size: 32px;
}
.Contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.Contact-right label{
    font-size: 20px;
    font-weight: 300;
    color: #a0a0a0;
}
.Contact-right input, .Contact-right textarea{
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: #1e1e2f;
    color: #fff;
}
.Contact-submit{
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, #a8ff78 0%, #8f94fb 100%);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
}
.Contact-submit:hover{
    background: linear-gradient(90deg, #8f94fb 0%, #a8ff78 100%);
    transform: scale(1.05);
    transition: 0.3s;
}
@media (max-width: 768px){
    .Contact{
        gap: 50px;
        margin: 40px 20px;
        align-items: start;
    }
    .Contact-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .Contact-section{
        flex-direction: column;
        gap: 50px;
    }
    .Contact-left h1{
        font-size: 50px;
    }
    .Contact-left p{
        font-size: 16px;
    }
    .Contact-details{
        font-size: 24px;
        gap: 20px;
    }
    .Contact-right input, .Contact-right textarea{
        width: 100%;
        font-size: 16px;

    }
}